/*********************************
	ユーティリティ（仮）
*********************************/
body {
    font-family: "MSゴシック", "ヒラギノ角ゴ", Arial, sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.c-pointer {
    cursor: pointer;
}

.logout {
    background: #fff;
    color: #000;
    height: 24px;
    border-radius: 12px;
    width: 80px;
}

.aside {
    padding-top: 64px;
    padding-left: calc((100vw - 1200px) / 2);
    position: fixed;
    background: #fff;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: calc((100vw - 1200px) / 2 + (1200px * 15 / 100));
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
}

.aside_nav {
    padding-top: 40px;
    padding-left: 8px;
}

.aside_link_list {

}

.aside_link_item:not(:first-child)  {
    margin-top: 16px;
}

.aside_link_item:first-child .aside_link{
    /* background: #ccc; */
}

.aside_link {
    font-size: 16px;
    color: #333;
    padding:8px 8px;
    border-radius: 2px;
    letter-spacing: .2em;
    font-weight: 600;
}

.aside_link:hover {
    background: #ccc;
}

.main {
    padding-top: 64px;
    background: #fff;
    min-height: 100vh;
    margin-left: calc((100vw - 1200px) / 2 + (1200px * 15 / 100));
    width: calc((100vw - 1200px) / 2 + (1200px * 85 / 100));
    background: #eee;
}

.main_container {
    padding-left: 32px;
    padding-top: 32px;
    width: calc(1200px * 85 / 100);
}

/** カラム全体 */
.flex {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  /** カラム毎 */
  .flex_column {
    width: 368px;
    max-width: 368px;
  }






/*********************************
	ヘッダー
*********************************/
.header {
    background: #000;
    height: 64px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

/** タイトル */
.header_title {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    line-height: 64px;
    text-align: center;
}
