/** css初期化 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  /** ヘッダー */
  .header {
    background: #EE8E99;
    height: 50px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }

  .header_title {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
  }

  /** メイン */
  .main {
    background: #F0DFCF;
    padding: 50px;
    min-height: 100vh;
  }

  /** コンテンツ */
  .lists {
    margin-top: 104px;
  }

  .list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  .list:not(:first-child) {
    margin-top: 80px;
  }

  .list:nth-child(odd) .list_text {
    order: 1;
  }

  .list:nth-child(odd) .list_image {
    order: 2;
  }

  .list_image {
    width: calc(768px / 2 - 16px);
    max-width: calc(768px / 2 - 16px);
  }

  .list_image .img {
    display: block;
    width: calc(768px / 2 - 16px);
    max-width: calc(768px / 2 - 16px);
  }

  .list_text {
    width: calc(768px / 2 - 16px);
    max-width: calc(768px / 2 - 16px);
  }

  .list_title {
    font-weight: bold;
  }

  .list_body {
    font-size: 12px;
    margin-top: 16px;
    line-height: 1.6em;
  }

  .list_link {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #7CBCF7;
    font-size: 12px;
    width: 50%;
    height: 32px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
    border-radius: 16px;
    font-weight: bold;
  }

  .list_link:hover {
    background: #2AA9C9;
  }

  /** コンテンツのレスポンシブ */
  @media screen and (max-width:768px) {

    .main {
      padding-left: 0;
      padding-right: 0;
    }

    .lists {
      margin-top: 80px;
    }

    .list {
      display: block;
    }

    .list:not(:first-child) {
      margin-top: 104px;
    }

    .list_image {
      margin: 0 auto;
      width: 90%;
    }

    .list_image .img {
      width: 100%;
    }

    .list_text {
      margin: 0 auto;
      margin-top: 16px;
      width: 90%;
    }

    .list_link {
      margin-top: 16px;
      font-size: 16px;
      height: 40px;
      width: 100%;
      border-radius: 20px;
    }
  }