/*********************************
	プロダクトリスト
*********************************/
.product_content_list {
  padding-top: 104px;
}

/*********************************
	プロダクト
*********************************/

/* プロダクト間の上下のmargin */
.product_content:not(:first-child) {
  margin-top: 80px;
}

/*********************************
	プロダクト画像
*********************************/

/* プロダクトを交互に入れ替え */
.product_image_content:nth-child(odd) {
  order: 2;
}

/* プロダクトの画像 */
.product_image {
  display: block;
  width: 368px;
  max-width: 368px;
}

@media screen and (max-width:768px) {

  .product_image {
    width: 100%;
  }
}

/*********************************
	プロダクト詳細
*********************************/

/* プロダクトのタイトル */
.product_title {
  font-weight: bold;
}

/* プロダクトの本文 */
.product_body {
  font-size: 12px;
  line-height: 1.6em;
}

/* プロダクトのリンク先 */
.product_access_link {
  width: 50%;
}

@media screen and (max-width:768px) {

  .product_access_link {
    margin-top: 16px;
    width: 100%;
  }
}