/*********************************
	ユーティリティ
*********************************/

/*********************************
	margin
*********************************/
.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt32 {
  margin-top: 32px;
}

.ml8 {
  margin-left: 8px;
}

.ml16 {
  margin-left: 16px;
}

.ml32 {
  margin-left: 32px;
}

/*********************************
	padding
*********************************/
.pt4 {
  padding-top: 4px;
}

.pt8 {
  padding-top: 8px;
}

.pt16 {
  padding-top: 16px;
}

.pl4 {
  padding-left: 4px;
}

.pl8 {
  padding-left: 8px;
}

.pl16 {
  padding-left: 16px;
}

/*********************************
	width
*********************************/
.w100 {
  width: 100%;
}

/*********************************
	font weight
*********************************/

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

/*********************************
	text align
*********************************/

.fz12 {
  font-size: 12px;
}

.fz16 {
  font-size: 16px;
}

/*********************************
	text align
*********************************/

.text_center {
  text-align: center;
}

/*********************************
	button
*********************************/
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 32px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width:768px) {

  .btn {
    font-size: 16px;
    height: 40px;
    width: 100%;
    border-radius: 20px;
  }
}

/** button info */
.btn.info {
  color: #fff;
  background: #0dcaf0;
}

.btn.info:hover {
  background: #31d2f2;
}

/** button danger */
.btn.danger {
  color: #fff;
  background: #dc3545;
}

.btn.danger:hover {
  background: #bb2d3b;
}

/*********************************
	status icon
*********************************/

.status {
  font-size: 12px;
  border: 1px solid transparent;
  padding: 0px 4px;
  border-radius: 4px;
}

.status.success {
  border: 1px solid #198754;
  color: #198754;
}

.status.danger {
  border: 1px solid #DC3545;
  color: #DC3545;
}

/*********************************
	card
*********************************/
.card {
  background: #fff;
  padding: 32px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

/*********************************
	2カラムのレイアウト
*********************************/
/*!
 * 2カラムの余白
 * 32px
 *
 * 1カラムのサイズ
 * 368px
 *
 * 位置の入れ替え
 * 奇数、偶数で左右交互に表示
 */

/** カラム全体 */
.flex {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

/** カラム毎 */
.flex_column {
  width: 368px;
  max-width: 368px;
}

@media screen and (max-width:768px) {

  .flex {
    display: block;
  }

  .flex_column {
    margin: 0 auto;
    width: 90%;
  }

  .flex_column:not(:first-child) {
    margin-top: 16px;
  }
}