/*********************************
	main
*********************************/
.main {
    padding-top: 154px;
}

/*********************************
	ユーティリティ
*********************************/
.input {
    width: 100%;
    height: 32px;
}

.textarea {
    width: 100%;
    height: 104px;
}

.pt4 {
    padding-top: 4px;
}

/*********************************
	フォーム
*********************************/
.product_upload_form {
    
}

.product_upload_content {
    display: flex;
    justify-content: space-between;
}

.product_upload_content:not(:first-child) {
    margin-top: 32px;
}

.product_upload_content_title {
    width: 10%;
    position: relative;
    text-align: justify;
    text-align-last: justify;
}

.product_upload_content_title::after {
    content: '：';
    position: absolute;
    right: -16px;
}

.product_upload_content_input {
    width: 80%;
}