.add_product_form_container {
  border-radius: 32px;
}

.add_product_table {
  width: 100%;
  border-collapse: collapse;
}

.add_product_table_row:not(:first-child) .add_product_table_head,
.add_product_table_row:not(:first-child) .add_product_table_data {
  /* padding-top: 16px; */
}

.add_product_table_head {
  text-align: left;
  width: 20%;
  margin-top: 32px;
}

.add_product_form_title {
  display: inline-block;
  width: 60%;
  text-align: justify;
  text-align-last: justify;
  position: relative;
  margin-right: 16px;
  font-weight: 600;
  /* letter-spacing: .5em; */
}

.add_product_form_title::after {
  content: '：';
  position: absolute;
  right: -24px;
}

.add_product_form_input.text,
.add_product_form_input.textarea {
  width: 100%;
}

.add_product_form_input.text {
  height: 32px;
}

.add_product_form_input.textarea {
  height: 128px;
}

.add_product_table_row.is-hidden {
  display: none;
}