/*********************************
	ユーティリティ
*********************************/
.title {
  display: inline-block;
  width: 40px;
  text-align: justify;
  text-align-last: justify;
  position: relative;
  margin-right: 16px;
  font-weight: 600;
}

.title::after {
  content: '：';
  position: absolute;
  right: -12px;
}

/*********************************
    プロダクト
*********************************/

/* プロダクト間の上下のmargin */
.product:not(:first-child) {
  margin-top: 32px;
}

.product {
  margin-bottom: 32px;
}

/*********************************
    プロダクト画像
*********************************/

.product_image_container {
  order: 2;
}

/* プロダクトの画像 */
.product_image {
  display: block;
  width: 368px;
  max-width: 368px;
  border: 1px solid #8c8c8c;
}

@media screen and (max-width:768px) {

  .product_image {
    width: 100%;
  }
}

/*********************************
      プロダクト詳細
*********************************/

/* プロダクトの本文 */
.product_body {
  line-height: 1.6em;
}

/* プロダクトのリンク先 */
.product_edit_btn {
  width: 50%;
}

@media screen and (max-width:768px) {

  .product_edit_btn {
    margin-top: 16px;
    width: 100%;
  }
}

/* test */
/* .product_container {
  background: #eee;
  width: 100%;
} */

.js-dropZone.is-active {
  height: 400px;
  width: 100%;
  background: #eee;
}

.flex {
  background: #fff;
}