/*********************************
	プロダクト
*********************************/

/* プロダクト間の上下のmargin */
.product:not(:first-child) {
  margin-top: 80px;
}

/*********************************
	プロダクト画像
*********************************/

/* コンテンツ幅 */
.product_image_container {
  width: 368px;
}

/* プロダクトを交互に入れ替え */
.product:nth-child(odd) .product_image_container {
  order: 2;
}

/* プロダクトの画像 */
.product_image {
  display: block;
  width: 368px;
}

@media screen and (max-width:768px) {

  .product_image {
    width: 100%;
  }
}

/*********************************
	プロダクト詳細
*********************************/

/* コンテンツ幅 */
.product_detail_container {
  width: 368px;
}

/* プロダクトのタイトル */
.product_title {
  font-weight: bold;
}

/* プロダクトの本文 */
.product_body {
  font-size: 12px;
  line-height: 1.6em;
}

/* プロダクトのリンク先 */
.product_access_btn {
  width: 50%;
}

@media screen and (max-width:768px) {

  .product_access_btn {
    margin-top: 16px;
    width: 100%;
  }
}